/* Start */
/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 
Medium: 
Semi-bold: 
Bold: 

- Font Family : Sniglet, Arial, Hel;

- Line heights
Default: 1
Small:
Medium:

Paragraph default:
- Letter spacing

--- 02 COLORS
- Primary: rgb(192, 240, 233)
-dark icons:
- Accents:
- Greys:

--- 05 WHITESPACE
Distance between every section: 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/********************************************/
/* global rules */
* {
  /* border: solid 0.1rem #ddd; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  background: transparent;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}
body {
  position: relative;
}
/********************************************/
/* Root */
:root {
  --mainColor: #de231f;
  --secondaryColor: #0193de;
  --fontColor: #333333dc;
  --secondaryFontColor: #333333bd;
  --sectionPadding: 2.8rem;
  --textColor: #333;
  --firstFontFam: "Sniglet", cursive;
  --secondFontFam: "ComicNeue", cursive;
}
/* End Root */
/********************************************/
/* Flex-system */
.flex-row {
  display: flex;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
/********************************************/
/* Grid Systems */
.grid-reverse {
  grid-auto-flow: dense; /* NEW */
}
.grid--col--1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid--col--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid--row--1 {
  grid-template-rows: repeat(1, 1fr);
}
.grid--row--2 {
  grid-template-rows: repeat(2, 1fr);
}
/* special grid-systems */

/* end */
/********************************************/
/* Gap */
.gap-02 {
  gap: 0.2rem;
}
.gap-04 {
  gap: 0.4rem;
}
.gap-08 {
  gap: 0.8rem;
}
.gap-012 {
  gap: 0.12rem;
}
/* Grid Column Gap*/
.column-gap02 {
  column-gap: 0.2rem;
}
.column-gap04 {
  column-gap: 0.4rem;
}
.column-gap08 {
  column-gap: 0.8rem;
}
.column-gap012 {
  column-gap: 0.12rem;
}
/* Grid Row Gap */
.row-gap02 {
  row-gap: 0.2rem;
}
.row-gap04 {
  row-gap: 0.4rem;
}
.row-gap08 {
  row-gap: 0.8rem;
}
.row-gap012 {
  row-gap: 0.12rem;
}
/********************************************/
/* End TG */
/********************************************/

/* Start The Styling Of The Main Fixed Content Of The Page */
/* Special Styling For Special Purpose */
.repeated-container {
  width: 90vw;
  margin-inline: auto;
}
.hidden {
  display: none !important;
}
.show {
  left: 0vw !important;
}
.block {
  display: block !important;
}
/* End Special Styling For Special Purpose */

section {
  margin-bottom: 6.2rem;
}
/* Start Body Absoluted Parts Styling */
/* Body Opacity When Clicking Menu  */
.Opacity {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000062;
}
/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  z-index: 100;
}
.header {
  padding-block: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
}
.header .logo-img {
  width: 11rem;
  /* margin-left: 1.2rem; */
}
.sideBar .logo-img {
  padding: 1rem;
}
.header a {
  cursor: pointer;
}
.header .menu-box {
  font-family: var(--firstFontFam);
  font-weight: 400;
  align-items: center;
  color: var(--fontColor);
  letter-spacing: 0.1rem;
  margin-right: 1.2rem;
}
.header .menu-box h3 {
  font-family: var(--firstFontFam);
  font-weight: 500;
  font-family: var(--firstFontFam);
  font-weight: 500;
  font-size: 1.6rem;
}
.header .userSpace {
  gap: 0.9rem;
}
.header .userSpace .headerIcon,
.fa-bars {
  cursor: pointer;
  font-size: 1.6rem;
  color: #333333d3;
}
.header .userSpace .iconHolder h5 {
  font-family: var(--firstFontFam);
  font-weight: 100;
  text-align: center;
  color: #fff;
  padding: 0.2rem;
  transform: translate(0.8rem, 0.8rem);
  border-radius: 50%;
  background-color: #0194de8c;
}
/* End Header */
/* Start contact boxes */
.contact-container {
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 99;
  right: 0;
  transform: translateY(10%);
  border-radius: 0.8rem;
  opacity: 0.5;
  transition: all ease 0.4s;
}
.contact-container:hover {
  opacity: 1;
}
.contact-container .contact-box {
  /* padding-block: 1.8rem;
  padding-inline: 1.8rem; */
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.1rem;
  border-collapse: collapse;
  perspective: 5rem;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-box img {
  width: 1.6rem;
  transition: all ease 0.3s;
}
/* style for each icon */
.contact-container .facebook {
  background-color: var(--secondaryColor);
}
.contact-container .telegram {
  background-color: #37bbfe;
}
.contact-container .whatsapp {
  background-color: #2cc980;
}
.contact-container .instagram {
  background-color: #ee4a73;
}
.contact-container .contact-box img:hover {
  transform: translate3d(0, 0, 1.4rem);
}
/* End contact boxes */

/* start sidebar */
#sideBar {
  text-align: center;
  position: fixed;
  left: -100vw;
  width: 65vw;
  height: 100vh;
  z-index: 1002;
  background-color: #adacac62;
  color: #ffffff;
  line-height: 5;
  transition: all ease 0.3s;
}
img.icon {
  width: 1.6rem;
}
#sideBar ul {
  font-family: var(--firstFontFam);
  position: relative;
  background: #ffffffe8;
  height: 100%;
  width: 100%;
  list-style: none;
}
#sideBar ul li {
  width: 100%;
  line-height: 60px;
  border-bottom: 1px solid rgb(0, 0, 0, 105);
}
#sideBar ul li a {
  position: relative;
  color: #333;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  border-left: 0.6rem solid transparent;
  transition: all ease 0.2s;
}
#sideBar .listParent > li > a:hover {
  color: #fff;
  background-color: #0194de8c;
  border-left-color: #fff;
}
#sideBar .listParent > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}
.selected {
  color: #fff !important;
  background-color: #0194de8c;
  border-left-color: #fff !important;
}
#sideBar .listParent ul > li a:first-child:hover {
  color: #fff;
  background-color: #6dceff;
}
#sideBar .listParent ul > li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}
#sideBar ul a:hover ul {
  position: static;
  display: block;
}

#sideBar ul .educational-category:hover > ul {
  position: static;
  display: block;
}
#sideBar ul .toys-category:hover > ul {
  position: static;
  display: block;
}
#sideBar ul ul li {
  line-height: 4.2rem;
  border-bottom: none;
}
#sideBar ul ul li a {
  font-size: 1.4rem;
  color: #333;
}
#sideBar ul li a span {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-left: solid #333 0.1rem;
  padding: 1.1rem;
}
#sideBar ul li a .down-chevron {
  transition: all ease 0.2s;
}
#sideBar a {
  transition: all ease 0.2s;
}
#sideBar ul li a:focus .down-chevron {
  transform: rotate(-180deg);
}
#sideBar .fa-caret-down {
  font-size: 1.6rem;
}
#sideBar .subList {
  height: fit-content !important;
  margin-top: -6rem;
  width: 30vw;
  right: -30vw;
  position: absolute !important;
  display: none;
}
/* End Body Absoluted Parts Styling */
/* Repeated Section Title Text */
.sectionTitle {
  font-family: var(--firstFontFam);
  font-weight: 500;
  font-size: 3.1rem;
  color: var(--fontColor);
}
@media (min-width: 320px) and (max-width: 623px) {
  .sectionTitle {
    font-size: 2.4rem;
  }
}
/* End Repeated Section Title Text*/
/* Repeated Section Title Text */
.forTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 1.1rem;
}
/* End Repeated Section Title Text */
/* Repeated Section */
.repeatedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* End Repeated Section */

/* start Main Box For Content */

.main-box {
  min-height: 60vh;
}
.main-box.flex-column {
  align-items: center;
}
.main-box .search-box {
  margin-top: 1.1rem;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 70vw;
  padding-left: 1.4rem;
  border: solid 0.4rem var(--secondaryColor);
  border-radius: 1.2rem;
}
.main-box .search-input {
  border: none;
  outline: none;
  width: 100%;
}
.main-box .search-icon-box {
  background-color: var(--secondaryColor);
  padding: 0.8rem;
}
.main-box .search-box .search-icon {
  width: 2.4rem;
}
/* Start Products */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  justify-content: center;
  padding: 1.1rem;
  gap: 1.4rem;
  padding-block: var(--sectionPadding);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }
}
@media (min-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
}
/* Product card */
.product-list .product {
  position: relative;
  cursor: pointer;
  justify-content: flex-end;
  height: 100%;
  border: #ddddddda solid 0.1rem;
  text-align: center;
  overflow: hidden;
  border-radius: 1.4rem;
  transition: all ease 0.3s;
}
@media (min-width: 960px) {
  .product-list .product:hover {
    transform: translateY(-2%);
    box-shadow: 0px 0px 12px #bebebead, -10px 0px 32px #ffffff;
  }
}

.product-list .product .addToCart {
  font-family: var(--firstFontFam);
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  padding: 0.6rem 0.6rem;
  border-radius: 0.6rem;
  border: solid 0.1rem transparent;
  background-color: #0194de67;
  transition: all 0.2s ease;
  align-items: center;
}
.product-list .product .addToCart:active {
  transform: scale(0.96);
}
.product-list .product:focus {
  transform: translate3d(0, 0, 2rem);
}
.product-list .product .product-img-parent {
  height: fit-content;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product-list .product .product-img {
  width: 100%;
}
.product-list .product h4 {
  font-family: var(--firstFontFam);
  font-weight: 500;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: var(--fontColor);
}
.product-list .product h5 {
  font-family: var(--firstFontFam);
  font-weight: 500;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  color: rgb(123, 151, 147);
}
.product-list .product p {
  display: none;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.3rem;
  right: 0.4rem;
  color: var(--secondaryFontColor);
}
.product-list .product .bdi {
  margin-bottom: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  color: rgba(123, 151, 147, 0.5);
}
.product-list .product h3 {
  font-family: var(--secondFontFam);
  font-weight: 500;
  font-size: 1.6rem;
}
.product-list .product h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(123, 151, 147, 0.5);
  top: 50%;
  transform: translateY(-50%);
}
.product-list .product .product-details .favouriteBtn {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
}
.product-list .product .product-details .favouriteBtn .addToFav {
  color: var(--secondaryFontColor);
  font-size: 1.4rem;
}
.product-list .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dbd9d9;
  padding: 0.8rem 0.4rem 1.4rem 0.4rem;
  height: 19rem;
  align-items: center;
}
.offerBand::before {
  content: "25%";
  font-family: var(--firstFontFam);
  font-size: 1.4rem;
  font-weight: 500;
  color: #fefefe;
  padding: 0.4rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.1rem;
  height: 3.1rem;
  background-color: #e86562;
  top: 0.6rem;
  left: 0.6rem;
  border-radius: 50%;
}
/* end main box for content */
/* Footer Section */
.footer {
  /* position: absolute;
  width: 100vw;
  bottom: 0; */

  padding: var(--sectionPadding);
  display: flex;
  height: 30vh;
  background-color: #eee;
  margin: 0;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    gap: 1.2rem;
  }
}
.footer .footerBox {
  font-family: var(--secondFontFam);
  font-weight: 500;
  width: calc(100% - var(--sectionPadding) / 3);
  justify-content: center;
  gap: 1.1rem;
}
.footer h2 {
  color: var(--fontColor);
  font-family: var(--firstFontFam);
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
}
.footer a {
  font-family: var(--firstFontFam);
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--secondaryFontColor);
  transition: all ease 0.3s;
  cursor: pointer;
}
.footer a:hover {
  color: var(--secondaryColor);
}
.footer .contact .legawyImg img {
  max-width: 14rem;
}
/* End Footer Section  */
/* Mid Section (Introduction Part in sublist links pages) */
.introduction {
  position: relative;
  align-items: center;
  gap: 2.4rem;
  width: 100%;
  margin-top: 3.2rem;
}
.introduction .heroTitle {
  align-items: center;
  gap: 1.1rem;
  width: 100%;
  justify-content: center;
}
.introduction .heroTitle .verticalLine {
  max-width: 60rem;
  border-radius: 1.6rem;
  height: 0.4rem;
  background-color: #333333bd;
  flex: 1;
}
.mainTitle {
  text-align: center;
  flex: 1;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}
.mainTitle h3 {
  font-family: var(--firstFontFam);
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: var(--secondaryFontColor);
}
.titleIcon {
  width: 4rem;
}
/* End  Mid Section (Introduction Part [img / Title]) */
