/* Mid Section For Offer  */
.mid-section .offerCard {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;
  background-size: 100%;
  background-size: cover;
  height: 70vh;
  padding-inline: 1.1rem;
  padding-block: 1.4rem;
  background-image: url("../img/midSectionImgs/wave-haikei\ \(1\).svg");
  font-size: 1.6rem;
  color: #333333d3;
  justify-content: space-around;
  align-items: center;
  /* gap: 5.1rem; */
}
@media (min-width: 567px) {
  .mid-section .offerCard {
    height: 80vh;
  }
}
.mid-section .offerInfo {
  width: 80%;
}
.mid-section .offeredProducts {
  justify-content: center;
  gap: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.mid-section .offerCard strong {
  font-weight: 400;
  color: #de221fab;
  font-size: 7.1rem !important;
}
.mid-section .offerCard h2 {
  font-family: var(--firstFontFam);
  font-weight: 300;
}
.mid-section .offerCard .offeredProducts img {
  width: 20%;
  max-width: 15rem;
}
/* End Mid Title Section */

/* Customers Reviews Section */
.CRS .customers-reviews {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 27.1rem);
  width: 100%;
  justify-content: center;
  gap: 1.4rem;
  padding: 7.5rem 0.8rem;
}
.CRS .customers-reviews .backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/Reviewers/back-sheet-victz.svg);
  z-index: -1;
  opacity: 0.3;
}
.CRS .C-box {
  font-family: var(--firstFontFam);
  word-spacing: 0.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.6rem;
  gap: 1.3rem;
  background-color: #eeeeeeee;
  padding: 1.6rem 1.3rem;
}
.CRS .C-box .C-img-name h3 {
  color: var(--secondaryFontColor);
}
.CRS .C-box .C-img-name img {
  width: 11rem;
  border-radius: 0.6rem;
  margin-bottom: 0.6rem;
}
.CRS .C-box .C-review h3 {
  color: var(--fontColor);
  font-size: 1.4rem;
}
/* End Customer Review Section */
/* Leading Imgs */
.leadingImgs {
  font-family: var(--firstFontFam);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.leadingImg {
  position: relative;
  max-width: 49%;
}
.leadingImg img {
  cursor: pointer;
  width: 100%;
  border-radius: 1.1rem;
  transition: all ease 0.4s;
}
.leadingImg img:hover {
  transform: scale(0.98);
}
.leadingImg img:hover .leadingBand {
  transform: scale(0.96);
}
@media (max-width: 767px) {
  .leadingImg {
    max-width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .leadingImg {
    max-width: 40%;
  }
}
.badgeLink {
  text-align: center;
  position: absolute;
  text-decoration: none;
  z-index: 2;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 50%;
  width: 5.4rem;
  height: 5.4rem;
  background-color: #2cc980;
  top: 1.1rem;
  left: 1.1rem;
  transform: scale(0.96);
}
/* End Leading Imgs */
