.main-box {
  gap: 4.6rem;
}
.main-box .forEmpty {
  align-items: center;
}
.main-box .forEmpty h2 {
  font-family: var(--secondFontFam);
  font-size: 1.3rem;
  color: var(--secondaryFontColor);
}
.main-box .MIparent {
  justify-content: center;
}
.main-box .MIparent img {
  width: 40%;
  max-width: 51rem;
}
